#cloud-config

instance-id: iid-rapi

network:
  version: 2
  ethernets:
    eth0:
      dhcp4: false
      addresses:
      - 192.168.47.11/24
      gateway4: 192.168.47.1
      nameservers:
        addresses: [8.8.4.4, 8.8.8.8]

ssh_authorized_keys:
  - ssh-rsa AAA..sUQ== openpgp:0x240815B8

chpasswd:
  expire: false
  list:
    # RANDOM, plain, mkpasswd -m SHA-512
    - root:$6$LO..1FXH/

fqdn: pi
hostname: pi
timezone: Europe/Berlin
locale: C.UTF-8

no_ssh_fingerprints: true
ssh_pwauth: true
disable_root: false

# growpart:
#   mode: auto
#   devices: ["/"]
#   ignore_growroot_disabled: false
# resize_rootfs: true

ntp:
  enabled: true

package_upgrade: true
packages:
  - epel-release
  - joe
  - https://github.com/iaean/rap/releases/download/init/atlasswprobe-5020-1.el7.aarch64.rpm

# very boot
bootcmd:
  - ethtool -s eth0 autoneg on
# first boot
runcmd:
  - ethtool -s eth0 autoneg on
  - localectl set-keymap de de-nodeadkeys
  - sed -ie 's/^ -nobackups/-nobackups/' /etc/joe/joerc
  - yum clean all

write_files:
- content: |
# /boot/overlays/README for further reading
dtoverlay=disable-wifi
dtoverlay=disable-bt
  path: /boot/config.txt
  owner: root:root
  permissions: '0755'
- content: |
    $include  /etc/inputrc

    # for tcsh history searching
    "\ep": history-search-backward
    "\en": history-search-forward
  path: /etc/skel/.inputrc
  owner: root:root
  permissions: '0644'
- content: |
    alias   l='ls -lh'
    alias   ll='ls -alh'
    alias   t='l -t'
    alias   m='less'
    alias   trace='traceroute'
    alias   h='history'
    alias   cp='cp -i'
    alias   mv='mv -i'
    alias   rm='rm -i'
    alias   dir='ls -l'
    alias   ..='cd ..'
    alias   cls='clear'
  path: /etc/skel/.bash_aliases
  owner: root:root
  permissions: '0644'
- content: |
    # .bashrc

    # Source global definitions
    if [ -f /etc/bashrc ]; then
      . /etc/bashrc
    fi

    HISTCONTROL=ignoreboth
    shopt -s histappend
    HISTSIZE=8192
    HISTFILESIZE=16384

    if [ -f ~/.bash_aliases ]; then
      . ~/.bash_aliases
    fi

    PS1="\[\e[1;33m\]\u\[\e[0m\]@\[\e[1m\]\h\[\e[0m\] [\[\e[1;32m\]\w\[\e[0m\]] >>"
  path: /etc/skel/.bashrc
  owner: root:root
  permissions: '0644'

system_info:
  default_user:
    name: pi
    lock_passwd: true
    gecos: Raspberry PI User
    groups: [adm, systemd-journal]
    sudo: ["ALL=(ALL) NOPASSWD:ALL"]
    shell: /bin/bash

users:
  - default
  - name: rap
    lock_passwd: true
    gecos: RIPE Atlas Probe User
    shell: /bin/bash
